* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#heading{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7)
    
}

.h1 {
    display: flex;
    padding: 15px;
    display: flex;
    font-size: 20px;
}

header a{
    text-decoration: none;
    color: rgb(240, 10, 10);
}

body{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/b2c3e95b-b7b5-4bb7-a883-f4bfc7472fb7/89e8b35d-32bd-49ef-be7c-b3bb40f43f0f/BR-pt-20240805-POP_SIGNUP_TWO_WEEKS-perspective_WEB_18b616df-024c-4fd3-bfe4-0bed3a87f049_small.jpg);
    background-size: cover;
}

section{
    height: 400px;
    width: 300px;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

#entrar{
    color: white;
    padding: 5px;
    font-size: 18px;
}

.input{
    background-color: rgb(0, 0, 0, 0.3);
    margin: 10px auto;
    border-color: rgb(255, 255, 255, 0.5);
    border-radius: 3px;
    border-width: 1px;
    padding: 18px 50px;
    text-align: left;
    color: white;
    
}

::placeholder{
    margin-left: 0;
    font-size: 14px;
    color: white;
}

#button{
    text-align: center;
    justify-content: space-between;
    color: white;
}

.button{
    background-color: red;
    color: white;
    padding: 10px 50px;
    margin-top: 20px;
    text-align: center;
    display: block;
    width: 270px;
}

p{
    margin: 20px 20px;
    justify-content: center;
}

footer{
    margin: 9px;
    color: white;
    
}

footer a{
    display: block;
    text-align: center;
    align-content: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
}